[submodule "lib/uacpi"]
	path = lib/uacpi
	url = https://github.com/uACPI/uACPI
[submodule "scripts/limine"]
	path = scripts/limine
	url = https://github.com/limine-bootloader/limine
[submodule "lib/flanterm"]
	path = lib/flanterm
	url = https://github.com/Mintsuki/Flanterm
