[submodule "lib/uacpi"]
	path = lib/uacpi
	url = https://github.com/uACPI/uACPI
	shallow = true
[submodule "scripts/limine"]
	path = scripts/limine
	url = https://github.com/limine-bootloader/limine
	shallow = true
[submodule "lib/flanterm"]
	path = lib/flanterm
	url = https://github.com/Mintsuki/Flanterm
	shallow = true
[submodule "user/dash"]
	path = user/dash
	url = https://git.kernel.org/pub/scm/utils/dash/dash.git
	shallow = true
