#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
!.clangd
!**/.gitkeep
!.tokeignore
!.github/
!.vscode/
.vscode/compile_commands.json
!subb.json
*.o
*.o.*
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
configs/iso_root/boot/limine/limine-bios.sys
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
*.cpio
#
# Top-level generic files
#
/tags
/TAGS
/myapp
/System.map
/Module.markers
/Module.symvers
#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap
#
# Generated include files
#
include/config
include/linux/version.h
include/generated
arch/*/include/generated
# stgit generated dirs
patches-*
# quilt's files
patches
series
# cscope files
cscope.*
ncscope.*
# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS
*.orig
*~
\#*#
Znu.iso
znu
znus
configs/iso_root/boot/kernel.bin
configs/sysroot/bin/*
configs/iso_root/EFI/BOOT/BOOTX64.EFI
ninja.build
lib/build-musl/
lib/.uacpi_out
init/init.elf
NvVars
*.efi
*.ninja
*.img
*.iso
lib/flanterm/
user/dash/
scripts/limine/
lib/uacpi/
lib/ulibc/third-party/zline/
lib/musl/
lib/fatfs/
