mainmenu "Configuration"

config CROSS_COMPILE
	string "Cross-compiler tool prefix"
	help
	  Same as running 'make CROSS_COMPILE=prefix-' but stored for
	  default make runs in this kernel build directory.  You don't
	  need to set this unless you want the configured kernel build
	  directory to select the cross-compiler automatically.

source "kernel/Kconfig"

config GENERATE_ISO
	bool "Generate a Limine iso with the kernel"
	help
	  It automatically generates a image.iso file with the Limine bootloader in it.

source "uki/Kconfig"

menu "Device Drivers"

source "drivers/Kconfig"

endmenu

config EG_GUI
	bool "Show example gui"
	default n
	select BGA
	help
	  Shows an example gui from kernel mode (DEPRECATED)

